section.features(id='features')
  .container
    h2.features__title FEATURES
    img.features__image(src='../../images/features-phone.png')

    .features__left
      .features__left__feature
        h3.features__left__feature__title Responsive Design
        .features__left__feature__line
        i.fa.fa-desktop.features__left__feature__icon(aria-hidden='true')
        p.features__left__feature__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae luctus lorem.

      .features__left__feature
        h3.features__left__feature__title Powerful Settings
        .features__left__feature__line
        i.fa.fa-cog.features__left__feature__icon(aria-hidden='true')
        p.features__left__feature__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae luctus lorem.

    .features__right
      .features__right__feature
        h3.features__right__feature__title Unlimited color
        .features__right__feature__line
        i.fa.fa-paint-brush.features__right__feature__icon(aria-hidden='true')
        p.features__right__feature__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae luctus lorem.

      .features__right__feature
        h3.features__right__feature__title Ready made modules
        .features__right__feature__line
        i.fa.fa-th.features__right__feature__icon(aria-hidden='true')
        p.features__right__feature__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae luctus lorem.
