section.first-ever-app
  .container
    h2.first-ever-app__title FIRST EVER APP
    table.first-ever-app__table
      tr
        td.first-ever-app__block
          .hexagon
            i.fa.fa-cogs.first-ever-app__block__icon
          h3.first-ever-app__block__title Easy customize
          .first-ever-app__block__line
          p.first-ever-app__block__text  Nullam sed velit neque. Integer tincidunt dui quis augue pulvinar.
        td.first-ever-app__block
          .hexagon
            i.fa.fa-clock-o.first-ever-app__block__icon
          h3.first-ever-app__block__title Save time
          .first-ever-app__block__line
          p.first-ever-app__block__text  Nullam sed velit neque. Integer tincidunt dui quis augue pulvinar.
        td.first-ever-app__block
          .hexagon
            i.fa.fa-mobile.first-ever-app__block__icon
          h3.first-ever-app__block__title Responsive
          .first-ever-app__block__line
          p.first-ever-app__block__text  Nullam sed velit neque. Integer tincidunt dui quis augue pulvinar.