header.header
  .header__top
    .container
      include contacts
  .header__bottom
    .header__bottom__navbar
      .container
        include nav
    .header__bottom__hero
      .container
        include hero