section.hero
  h1.hero__title BEST MUSIC APP FOR ANDROID AND IOS
  img.hero__image(src='../../images/hero-phone.png')
  a.hero__downloadButton(href='#')
    img.hero__downloadButton__icon(src='../../images/icon-playstore.png')
    span.hero__downloadButton__text Download on #[strong Google Play]
  a.hero__downloadButton(href='#')
    img.hero__downloadButton__icon(src='../../images/icon-apple.png')
    span.hero__downloadButton__text Download on #[strong App Store]
