section.music
  .container
    img.music__image(src='../../images/music-image.png')
    .music__text
      p.music__text__pretitle Future is here
      h1.music__text__title Music medication for modern day living
      .music__text__line
      p.music__text__text European flounder mahseer Australian lungfish longnose dace pleco, butterflyfish ghost knifefish tripod fish. Gulper eel common tunny dealfish burbot flier tope.
      p.music__text__text #[strong North American] darter pomfret Black scabbardfish slipmouth dragon goby blue catfish driftwood catfish. Cherry salmon shortnose sucker mako shark.