.nav
  span.logo #[strong App]Logo
  - var items = ['HOME', 'FEATURES', 'SCREENSHOTS', 'VIDEO', 'SERVICES', 'TESTIMONIALS', 'OUR TEAM', 'PARTNERS', 'PRICING']
  each item in items
    a.nav__link(href="#")=item