section.screenshots(id='screenshots')
  .container
    h2.screenshots__title SCREENSHOTS
    .screenshots__tables
      table.screenshots__tables__first
        tr
          td.screenshots__tables__first__screen1(rowspan='2')
          td.screenshots__tables__first__screen2
          td.screenshots__tables__first__screen3
        tr
          td.screenshots__tables__first__screen4(colspan='2')
      table.screenshots__tables__second
        tr
          td.screenshots__tables__second__screen5
        tr
          td.screenshots__tables__second__screen6