section.stats
  .container
    .stats__block
      h1.stats__block__stat 8M
      p.stats__block__desc USERS
    .stats__block
      h1.stats__block__stat 91M
      p.stats__block__desc SONGS
    .stats__block
      h1.stats__block__stat 125K
      p.stats__block__desc DOWNLOADS
    .stats__block.last
      h1.stats__block__stat 954K
      p.stats__block__desc ARTISTS