section.testimonials(id='testimonials')
  .container
    h2.testimonials__title TESTIMONIALS
    .testimonials__rectangle
    .testimonials__block
      .testimonials__block__imgContainer
        .testimonials__block__imgContainer__image
      i.fa.fa-quote-left.testimonials__block__icon
      .testimonials__block__text
        .testimonials__block__text__testimonial Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed dolor at magna tempus facilis. Vivamus auctor accusman diam a tincidunt. Mauris imperdiet molestie diam condimentum aliquet. Pellentesque lectus sem, tincidunt sodales magna in, faucibus pulvinar dui.
        .testimonials__block__text__author Jonathan Doe
        .testimonials__block__text__line
        .testimonials__block__text__job Founder / Character design