section.video
  .container
    h2.video__title VIDEO
    .video__player
      .video__player__desc
        h3.video__player__desc__title Movie #1
        .video__player__desc__line
        p.video__player__desc__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .video__player__button

    ul.video__list
      li.video__list__elem
        .video__list__elem__img
        h3.video__list__elem__title Movie #1
        .video__list__elem__lineFirst
        p.video__list__elem__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      each val in [2, 3, 4]
          li.video__list__elem
            .video__list__elem__img
            h3.video__list__elem__title Movie #1
            .video__list__elem__line
            p.video__list__elem__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.

