section.who-we-are(id='our-team')
  .container
    h2.who-we-are__title WHO WE ARE
    .who-we-are__employees
      .who-we-are__employees__employee
        img.who-we-are__employees__employee__photo(src='../../images/who-we-are-john-doe.png')
        p.who-we-are__employees__employee__name John Doe
        .who-we-are__employees__employee__line
        p.who-we-are__employees__employee__job CEO
        .who-we-are__employees__employee__networks
          a(href='#')
            i.fa.fa-facebook.who-we-are__employees__employee__networks__icon
          a(href='#')
            i.fa.fa-twitter.who-we-are__employees__employee__networks__icon
          a(href='#')
            i.fa.fa-google-plus.who-we-are__employees__employee__networks__icon

      .who-we-are__employees__employee
        img.who-we-are__employees__employee__photo(src='../../images/who-we-are-victoria-brown.png')
        p.who-we-are__employees__employee__name Victoria Brown
        .who-we-are__employees__employee__line
        p.who-we-are__employees__employee__job Marketing Specialist
        .who-we-are__employees__employee__networks
          a(href='#')
            i.fa.fa-facebook.who-we-are__employees__employee__networks__icon
          a(href='#')
            i.fa.fa-google.who-we-are__employees__employee__networks__icon
          a(href='#')
            i.fa.fa-pinterest.who-we-are__employees__employee__networks__icon

      .who-we-are__employees__employee
        img.who-we-are__employees__employee__photo(src='../../images/who-we-are-bill-johnson.png')
        p.who-we-are__employees__employee__name Bill Johnson
        .who-we-are__employees__employee__line
        p.who-we-are__employees__employee__job Senior Developer
        .who-we-are__employees__employee__networks
          a(href='#')
            i.fa.fa-facebook.who-we-are__employees__employee__networks__icon
          a(href='#')
            i.fa.fa-twitter.who-we-are__employees__employee__networks__icon
          a(href='#')
            i.fa.fa-pinterest.who-we-are__employees__employee__networks__icon
