.networks {
  text-align: right;
}
.contact {
  float: left;
}
.contact, .net {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}
.contact, .net {
  color: black;
  font-size: 0.9rem;
  vertical-align: top;
  padding: 10px 10px 8px;

  &:hover {
    color: lighten(black, 20%);
  }

  &__icon {
    font-size: 1rem;
  }
}
.contact__icon {
  margin-right: 7px;
}