.header {
  &__top {
    background: #ffffff;
    font-family: $ff_header__top;
  }
  &__bottom {
    background-image: url("../../images/hero-background.png");

    &__navbar {
      background: linear-gradient(90deg, #105ca0, rgba(#105ca0, 0.6));
      padding-top: 30px;
      padding-bottom: 30px;
      font-family: $ff-header__bottom;
    }
  }
}