.header {
  &__top {
    background: #ffffff;
    font-family: $ff_header__top;
  }
  &__bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(90deg, #105ca0, rgba(#105ca0, 0.6));
    font-family: $ff-header__bottom;
  }
}

.nav {
  text-align: right;

  &__link {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 30px;
    font-size: 0.95rem;

    &:hover {
      color: darken(white, 20%);
    }
  }
}
.logo {
  font-size: 2rem;
  line-height: 0.3;
  color: white;
}
.networks {
  text-align: right;
}
.contact, .logo {
  float: left;
}
.contact, .net, .nav__link {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}
.contact, .net {
  color: black;
  font-size: 0.9rem;
  vertical-align: top;
  padding: 10px 10px 8px;

  &:hover {
    color: lighten(black, 20%);
  }

  &__icon {
    font-size: 1rem;
  }
}
.contact__icon {
  margin-right: 7px;
}