.nav {
  text-align: right;


  &__link {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 30px;
    font-size: 0.95rem;

    &:hover {
      color: darken(white, 20%);
    }
  }
}
.logo {
  font-size: 2rem;
  line-height: 0.3;
  color: white;
  float: left;
}