@font-face {
  font-family: "myriad-pro";
  src: url("../../fonts/MyriadPro-Regular.woff") format("woff"),
  url("../../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("../../fonts/OpenSans-Regular.woff") format("woff"),
  url("../../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("../../fonts/OpenSans-SemiBold.woff") format("woff"),
  url("../../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("../../fonts/Poppins-Regular.woff") format("woff"),
  url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("../../fonts/Poppins-SemiBold.woff") format("woff"),
  url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "poppins-extra-bold";
  src: url("../../fonts/Poppins-ExtraBold.woff") format("woff"),
  url("../../fonts/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../../fonts/Roboto-Light.woff") format("woff"),
  url("../../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../../fonts/Roboto-Regular.woff") format("woff"),
  url("../../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "oswald";
  src: url("../../fonts/Oswald-SemiBold.woff") format("woff"),
  url("../../fonts/Oswald-SemiBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}