$ff-header__top: 'myriad-pro';
$ff-header__bottom: 'open-sans';
$ff-hero__buttons: 'poppins';
$ff-hero__title: 'poppins-extra-bold';
$ff-feature: 'roboto';
$ff-section-title:'oswald';
$ff-music: 'open-sans';
$ff-video: 'roboto';
$ff-first-ever-app: 'roboto';
$ff-stats: 'lato';
$ff-stats-desc: 'poppins';
$ff-testimonials: 'roboto';